
/* styles.css */

/* Center the entire page content */
body, html {
    height: 180%;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

/* Center the header image */
header {
    text-align: center;
}

.centered-image {
    max-width: 100%;
    max-height: 100%;
}

/* Center the image section content */
.image-section {
    text-align: center;
    margin-top: 20px; /* Add space between header and section if needed */
}
.semtecbig-image{
    width: 100%; /* Set the image width to 100% */
    object-fit: cover; /* Ensure the image covers the available space */
}

.centered-content {
    display: inline-block;
    text-align: left;
    position: relative;
}

/* Style for the text on the right side bottom */
.image-text {
    position: absolute;
    bottom: 20px;
    right: 20px;
    font-size: 32px;
    font-weight: bold;
    color: #d4d3d3;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    white-space: nowrap;
}



/* Center the heading and add top margin */
.centered-heading {
    text-align: center;
    margin-top: 20px; /* Adjust the margin as needed */
}

/* Style for the custom heading */
.custom-heading {
    font-size: 25px; /* Medium size */
    font-weight: bold;
    text-decoration: underline;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}



/* Submit BOM */


/* Style for the column container */
.columns {
    display: flex;
    justify-content: space-between;
    padding: 20px;
}

/* Style for individual columns */
.column {
    flex: 1;
    padding-left: 20px; /* Space around the columns */
    border-radius: 10px; /* Rounded border for the columns */
}

/* Style for individual boxes */
.box {
    border: 2px solid #0418f6; /* Blue border */
    border-radius: 20px; /* Rounded border for the boxes */
    text-align: center;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 50px;
    padding-bottom: 50px;
    margin-bottom: 20px; /* Space between boxes */
    position: relative;
}

/* Style for box icons */
.icon {
    position: absolute;
    top: -20px;
    left: 50%;
    transform: translateX(-50%);
    background-color: #0418f6; /* Blue background for icons */
    color: #fff; /* Text color of icons */
    width: 40px; /* Width of the rounded icon */
    height: 40px; /* Height of the rounded icon */
    border-radius: 50%; /* Make the icon round */
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    font-size: 20px;
}

/* Style for box text */
.box-text {
    font-weight: bold;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

}

/* Style for small heading */
.small-heading {
    font-weight: bold;
    text-decoration: underline;
    text-align: center;
    margin-top: 100px;
    margin-bottom: 50px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

}

/* Style for box link */
.box-link {
    text-decoration: none;
    color: #000305; /* Blue color for links */
}

/* Style for upload input */
.upload-input {
    display: none; /* Hide the file input initially */
}



/* Footer */
/* Style for the footer */
.footer {
    display: flex;
    justify-content: space-between;
    /* background-color: #333; */
    color: white;
    padding: 20px;
    width: 100%;
    margin-top:-50px;
}

/* Style for footer columns */
.footer-column {
    flex: 1;
    margin-top:-20px ;
    
    text-align: center;
}
.footer-column2 img{
    flex: 1;
    margin-top:-20px ;
    height: auto;
    max-width: 20%;
    text-align: right;
}

/* Style for social icons */
.social-icons {
    list-style: none;
    padding: 0px;
}

.social-icons li {
    margin-bottom: 10px;
    margin-left: -250px;
}

.social-icons img {
    width: 50px;
    height: 50px;
}

/* Style for QR code */
.footer-column img {
    max-width: 20%;
    height: auto;
}
.qr{
    align-items: end;
}




